<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Welcome to Desica Cloud!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
  <script src="main.js"></script>
</head>
<body>
  <div class = "container">
    <div class = "column col-6 p-centered">
      <br>
      <h1>Welcome to Desica Cloud!</h1>
      <p>A new way to host Desica websites, without Vercel.</p>
      <div class="divider text-center" data-content="Timeline"></div>
      <ul class="step">
  <li class="step-item">
    <a href="#" class="tooltip" data-tooltip="Step 1">Building</a>
  </li>
  <li class="step-item active">
    <a href="#" class="tooltip" data-tooltip="Step 2">Testing</a>
  </li>
  <li class="step-item">
    <a href="#" class="tooltip" data-tooltip="Step 3">Migration</a>
  </li>
</ul>
<br>
<p>We are planning on hosting all our apps this way, but this is just a test.</p>
<a href="https://desica.uk">Head to Desica</a>
    </div>
  </div>
</body>
</html>
