<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Welcome to Desica Cloud!
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css" />
    <script src="main.js">
    </script>
  </head>
  <body>
    <div class="container">
      <div class="column col-6 p-centered">
        <br />
        <h1>Welcome to Desica Cloud!
        </h1>
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href="/progress">Roadmap</a>
            </li>
          </ul>
        <div class="timeline">
          <div class="timeline-item" id="testing">
            <div class="timeline-left">
              <a class="bg-success timeline-icon icon-lg text-tiny" href="#testing">
                <i class="icon icon-check">
                </i>
              </a>
            </div>
            <div class="timeline-content">
              <p class="tile-subtitle">
                <b>Testing
                </b>
              </p>
              <p class="tile-title">Deploy a balena server
              </p>
              <p class="tile-title">Set up a GitHub action
              </p>
              <p class="tile-title">Deploy this website
              </p>
            </div>
          </div>
          <div class="timeline-item" id="waiting">
            <div class="timeline-left">
              <a class="timeline-icon icon-lg bg-secondary text-primary text-tiny" href="#waiting">
                <i class="icon icon-edit">
                </i>
              </a>
            </div>
            <div class="timeline-content">
              <p class="tile-subtitle">
                <b>Waiting on balena
                </b>
              </p>
              <p class="tile-title">We are currently waiting on balena to add custom device urls
              </p>
              <p class="tile-title">This feature is being developed
              </p>
            </div>
          </div>
          <div class="timeline-item" id="migration">
            <div class="timeline-left">
              <a class="timeline-icon icon-lg bg-gray text-dark text-tiny" href="#migration">
                <i class="icon icon-flag">
                </i>
              </a>
            </div>
            <div class="timeline-content">
              <p class="tile-subtitle">
                <b>Migration
                </b>
              </p>
              <p class="tile-title">Move websites over
              </p>
              <p class="tile-title">Aquire more pi zeros
              </p>
              <p class="tile-title">Update DNS records
            </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
